/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.ant-pagination-item-active {
  border-color: #000000 !important;
  /* Màu viền của mục đang hoạt động */
  background-color: #fff5f8 !important;
  /* Nền mục đang hoạt động */
}

.ant-table-thead>tr>th {
  background-color: #000000 !important;
  /* Nền header */
  color: #ffffff !important;
  /* Màu chữ */
  border: 1px solid #000 !important;
  /* Viền header */
  text-align: center;

  /* Căn giữa chữ */
}

.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

/* Custom styles for dropdown hover */
.custom-dropdown .ant-dropdown-menu-item:hover,
.custom-dropdown .ant-dropdown-menu-submenu-title:hover {
  background-color: white !important;

}

/* For highlighted/selected items */
.custom-dropdown .ant-dropdown-menu-item-active,
.custom-dropdown .ant-dropdown-menu-submenu-title-active,
.custom-dropdown .ant-dropdown-menu-item-selected {
  background-color: white !important;

}

/* For menu items in Menu component */
.custom-dropdown .ant-menu-item:hover,
.custom-dropdown .ant-menu-submenu-title:hover {
  background-color: white !important;

}

.custom-dropdown .ant-dropdown-menu-item {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}